

.text-center {
    text-align: center;
}
.card-title {
    text-align: center;
}
.team-heading {
    background-color: silver;
    color: black;
}

.team-area {
    max-width: 62.5 rem;
    margin: 3rem auto;
    flex-wrap: wrap;
}

.employee-card {
    margin: 1rem;
    max-width: 17.5rem;
    width: 95%;
    background-color:rgb(178, 176, 176);
    color: black;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:silver;
}

.list-group-item {
    color: black;
}